*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.navi{
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    height: 70px;
    width: 200px;
    background-image:url(logo.png);
    background-size: cover;
   
}

.search{
    height: 80px;
    width: 800px;
    align-items: center;
    display: flex;
}


.search_logo{
    height: 40px;
    width: 60px;
    background-color: white;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-style: none;
    background-color: rgba(232, 229, 229, 0.886);
}
.searh_bar{
    background-color: white;
    font-size: 17px;
    border-style: none;
    border-top-right-radius :4% ;
    border-bottom-right-radius: 4%;  
}
input[type="text" i] {
    border-style: none;
    align-content: center;
    text-align: center;
    border: 0px;
    font-size: 14px;
    height: 40px;
    width: 750px;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    background-color: rgba(232, 229, 229, 0.886);
}
.ac{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
}
.aclogo{
    height: 16.8px;
    width: 14px;
    background-color: white;
    margin: 8px;
}
.acin{
    height: 16.8px;
    width: auto;
    background-color: white;
    color: black;
    text-align: right;
    top: 10px;
}
.arrow{
    height: 16.8px;
    width: 14px;
    background-color: white;
    margin-left:8px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.arrow:hover{
    transform: rotate(180deg);
}
.cart{
    display: flex;
    align-items: center;
}
.cart_logo{
    width: 18px;
    background-color: white;
    height: 16.8px;
    margin-right: 8px;
}
.cartin{
    height: 16.8px;
    width: auto;
    background-color: white;
}
.seller{
    display: flex;
    align-items: center;
}
.seller_logo{
    height: 16.8px;
    width: 18px;
    background-color: white;
    margin-right: 8px;
}
.sellerin{
    height: 16.8px;
    width: auto;
}
.options{
    height: 16.8px;
    width: 20px;
    background-color: white;
}
.category{
    height: 150.4px;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
}
.grocery{
    height: 150.4px;
    width: 130px;
    background-color: white;
    justify-content: center;
}
.glogo{
    height: 64px;
    width: 64px;
    background-image:url(grocery.jpeg);
    background-size: cover;
    justify-content: center;
    display: inline-block;
    margin-left: 33px;
    margin-top: 40px;
}
.gin{
    height: auto;
    width: auto;
    color: black;
    background-color: white;
    text-align: center;
    font-weight: bold;
}
.mobile{
    height: 150px;
    width: 130px;
    background-color: white;
    justify-content: center;
}
.mobile_logo{
    height: 64px;
    width: 64px;
    background-image: url(mobile.jpeg);
    background-size: cover;
    justify-content: center;
    display: inline-block;
    margin-left: 33px;
    margin-top: 40px;
}
.mobilein{
    height: auto;
    width: auto;
    color: black;
    background-color: white;
    text-align: center;
    font-weight: bold;
    margin-left: 5px;
}
.fashion{
    height: 150px;
    width: 130px;
    background-color: white;
    justify-content: center;
}
.fashion_logo{
    background-image: url(fashion1.png);
    height: 64px;
    width: 64px;
    background-size: cover;
    justify-content: center;
    display: inline-block;
    margin-left: 33px;
    margin-top: 40px;
}
.fashion_in{
    height: auto;
    width: auto;
    display: flex;
}
.fashionin{
    height: auto;
    width: auto;
    background-color: white;
    font-weight: bold;
    text-align: center;
    margin-left: 36px;
}
.farrow{
    height: 16.8px;
    width: 14px;
    background-color: white;
    margin-left:6px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.farrow:hover{
    transform: rotate(-180deg);
}
.electronics{
    height: 150px;
    width: 130px;
    background-color: white;
    justify-content: center;
}
.elec_logo{
    background-image:url(laptop.jpg);
    height: 64px;
    width: 100px;
    margin-left: 20px;
    margin-top: 40px;
    background-size: cover;
    justify-content: center;
    display: inline-block;
    
}
.elec{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}
.elecin{
    height: auto;
    width: auto;
    font-weight: bold;
    text-align: center;
    background-color: white;
    margin-left: 20px;
}
.elec_arrow{
    height: 16.8px;
    width: 14px;
    background-color: white;
    margin-left:6px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.elec_arrow:hover{
    transform: rotate(-180deg);
}
.furniture{
    height: 150px;
    width: 170px;
    background-color: white;
    justify-content: center;
}
.fur_image{
    height: 64px;
    width: 100px;
    background-image: url(fur.jpeg);
    background-size: cover;
    margin-top: 40px;
    margin-left:30px;
    display: inline-block;
}
.fur{
    height: auto;
    width: auto;
    background-color: white;
    display: flex;
    
}
.fur_in{
    height: auto;
    width: 80px;
    font-weight: bold;
    background-color: white;
    margin-left:20px;
    text-align:left;
}
.fur_arrow{
    height:16.8px;
    width: 14px;
    background-color: white;
    margin-left:50px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.fur_arrow:hover{
    transform: rotate(-180deg);
}
.appliances{
    height: 150px;
    width: 130px;
    background: white;
}
.app_logo{
    height: 64px;
    width: 100px;
    background-image: url(tv.jpg);
    background-size: cover;
    display: inline-block;
    margin-left: 15px;
    margin-top: 40px; 
}
.app_in{
    height: auto;
    width: auto;
    font-weight: bold;
    text-align: center;
    margin: top 20px;;
    margin-left: 20px;
    background-color: white;
}
.travel{
    height: 150px;
    width: 130px;
    background-color: white;
}
.tr_logo{
    height: 64px;
    width: 100px;
    background-image: url(travel.jpg);
    background-size: cover;
    display: inline-block;
    margin-left: 15px;
    margin-top: 40px;
}
.tr_in{
    height: auto;
    width: auto;
    background-color: white;
    text-align: center;
    margin-top: 0px;
    margin-left: 10px;
    font-weight: bold;
}
.more{
    height: 150px;
    width:130px;
    background-color: white;
}
.mlogo{
    height: 64px;
    width: 64px;
    background-image: url(toy.png);
    background-size: cover;
    display: inline-block;
    margin-left: 33px;
    margin-top: 40px;
}
.toy{
    height: auto;
    width: auto;
    background: white;
    display: flex;
    align-items: center;
}
.toy_in{
    width: auto;
    height: auto;
    font-weight: bold;
    margin-left: 10px;
    background-color: white;
    text-align: left;
}
.t_arrow{
    height:16.8px;
    width: 14px;
    background-color: white;
    margin-left:10px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.t_arrow:hover{
    transform: rotate(-180deg);
}
.vehicle{
    height: 150px;
    width: 130px;
    background-color: white;
    display: inline-block;
}
.bike_logo{
    height: 64px;
    width: 100px;
    background-image: url(bike1.png);
    background-size: cover;
    margin-top: 40px;
    margin-left: 10px;
}
.bike{
    height: auto;
    width: auto;
    background-color: white;
    display: inline-block;
    display: flex;
}
.bike_in{
    height: auto;
    width: auto;
    background-color: white;
    font-weight: bold;
    margin-left: 15px;
    text-align: center;
}
.b_arrow{
    height:16.8px;
    width: 14px;
    background-color: white;
    margin-left:10px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.b_arrow:hover{
    transform: rotate(-180deg);
}
.slider{
    height: 165.80px;

}
.slider {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slides img {
    width: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .slides img {
      height: auto;
    }
  }
  .be{
    height: 64px;
    background-color:white;
    display: flex;
    align-items: center;
  }
  .in{
    height: 40px;
    width: auto;
    background-color: white;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .bsection{
    height: 320px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
  }
  .pods{
    height: 268;
    width: 216px;
    background-color: white;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 4%;
  }
  .pod_image{
    height:186.4px;
    width: 186.4px;
    background-image: url(pod.jpeg);
    background-size: cover;
    margin-top: 33px;
    margin-left: 20px;
  }
  .pod_in{
    height: 40px;
    width: auto;
    background-color: white;
    text-align: center;
  }
  .monitor{
    height: 268;
    width: 216px;
    background-color: white;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 4%;
  }
  .monitor_image{
    height: 186.4px;
    width: auto;
    background-image: url(monitor1.png);
    background-size: cover;
    margin-top: 40px;
    margin-left: 0px;
  }
  .monitor_in{
    height: 40px;
    width: auto;
    background-color: white;
    text-align: center;
  }
  .swatch{
    height: 320px;
    width:216px;
    background-color: white;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 4%;
}
.swatch_img{
    height: 186.4px;
    width: auto;
    background-image:url(swatch.jpeg);
    background-size: cover;
    margin-top: 40px;
    margin-left: 20px;
    
}
.swatch_in{
    height: 60px;
    width: auto;
    background-color: white;
    text-align: center;
}
.speaker{
    height: 320px;
    width: 216px;
    background-color: white;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 4%;
}
.speaker_img{
    height: 186.4px;
    width: auto;
    background-image: url(speaker.jpeg);
    background-size: cover;
    margin-top: 40px;
    margin-left: 20px;
}
.speaker_in{
    height: 60px;
    width: auto;
    background-color: white;
    text-align: center;
}
.projector{
    height: 320px;
    width: 216px;
    background-color: white;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 4%;
}
.projector_img{
    height: 186.4px;
    width: auto;
    background-image: url(projector.png);
    background-size: cover;
    margin-top: 40px;
    margin-left: 10px;
}
.projector_in{
    height: 60px;
    width: auto;
    background-color: white;
    text-align: center;
}
.bft{
    height: 64px;
    background-color: white;  
}
.heading{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
}
.bt{
    height: 260px;
    width: auto;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.gcycyle{
    height: 250px;
    width: 300px;
    border-radius: 4%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    margin-top: 10px;
}
.gimage{
    height: 186.4px;
    width: auto;
    background-image: url(gcycle.jpg);
    background-size: cover;
    margin-top: 5px;
}
.g_in
{
    text-align: center;
    background-color: white;
    margin-top: 10px;
}
.ecycle{
    height: 250px;
    width: 300px;
    border-radius: 4%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    margin-top: 10px;
}
.eimage{
    height: 186.4px;
    width: auto;
    background-image: url(ecycle.png);
    background-size: cover;
    margin-top: 4px;
}
.e_in{
    text-align: center;
    background-color: white;
    margin-top: 10px;
}
.atoy{
    height: 250px;
    width: 300px;
    border-radius: 4%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    margin-top: 10px;
}
.atoy_image{
    height: 186.4px;
    width: auto;
    background-image: url(atoy.jpg);
    background-size: cover;
    margin-top: 4px;
}
.atoy_in{
    text-align: center;
    background-color: white;
    margin-top: 10px;
}
.gym{
    height: 250px;
    width: 300px;
    border-radius: 4%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    margin-top: 10px;
}
.gym_img{
    height: 186.4px;
    width: auto;
    background-image: url(gym.jpg);
    background-size: cover;
    margin-top: 4px;
}
.gym_in{
    text-align: center;
    background-color: white;
    margin-top: 10px;
}
.s{
    height: 200px;
    width: 94%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}
.s1{
    height: 200px;
    width:450px;
    background-image: url(s1.png);
    background-size: cover;
}
.s2{
    height:200px;
    width: 450px;
    background-image: url(s2.png);
    background-size: cover;
}
.s3{
    height:200px;
    width:450px;
    background-image: url(s3.png);
    background-size: cover;
}
.top_deals{
    height: 290px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.info{
    height: auto;
    width: auto;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
}
.redtape{
    height: 250px;
    width: 200px;
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    margin-top: 30px;
}
.rimg{
    height: 186.4px;
    width: auto;
    background-image: url(reatape.png);
    background-size: cover;
}
.redinfo{
    text-align: center;
    padding-top: 20px;
}
.s_shoes{
    height: 250px;
    width: 200px;
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    margin-top: 30px;
}
.sshimg{
    height: 186.4px;
    width: auto;
    background-image: url(shoes.jpg);
    background-size: cover;
}
.sshinfo{
    text-align: center;
    padding-top: 20px;
}
.shirt{
    height: 250px;
    width: 200px;
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    margin-top: 30px;
}
.shirtimg{
    height: 186.4px;
    width: auto;
    background-image: url(shirt1.jpg);
    background-size: cover;
}
.shirtinfo{
    text-align: center;
    padding-top: 20px;
}
.pants{
    height: 250px;
    width: 200px;
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    margin-top: 30px;
}
.pants_img{
    height: 186.4px;
    width: auto;
    background-image: url(oant.jpg);
    background-size: cover;
}
.pant_info{
    text-align: center;
    padding-top: 20px;
}
.glasses{
    height: 250px;
    width: 200px;
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    margin-top: 30px;
}
.glass_img{
    height: 186.4px;
    width: auto;
    background-image: url(glasses.jpg);
    background-size: cover;
}
.glass_info{
    text-align: center;
    padding-top: 20px;
}
.box{
    height: 200px;
    width: 94%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}
.s4{
    height: 200px;
    width:450px;
    background-image: url(s4.png);
    background-size: cover;
}
.s5{
    height:200px;
    width: 450px;
    background-image: url(s6.png);
    background-size: cover;
}
.s6{
    height:200px;
    width:450px;
    background-image: url(s6.png);
    background-size: cover;
}
.box1{
    height: 200px;
    width: 94%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}
.s7{
    height: 200px;
    width:450px;
    background-image: url(s7.png);
    background-size: cover;
}
.s8{
    height:200px;
    width: 450px;
    background-image: url(s8.png);
    background-size: cover;
}
.s9{
    height:200px;
    width:450px;
    background-image: url(s9.png);
    background-size: cover;
}
.box2{
    height: 200px;
    width: 94%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}
.s10{
    height: 200px;
    width:450px;
    background-image: url(s10.png);
    background-size: cover;
}
.s11{
    height:200px;
    width: 450px;
    background-image: url(s11.png);
    background-size: cover;
}
.s12{
    height:200px;
    width:450px;
    background-image: url(s12.png);
    background-size: cover;
}
.box3{
    height: 200px;
    width: 94%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}
.s13{
    height: 200px;
    width:450px;
    background-image: url(s13.png);
    background-size: cover;
}
.s14{
    height:200px;
    width: 450px;
    background-image: url(s14.png);
    background-size: cover;
}
.s15{
    height:200px;
    width:450px;
    background-image: url(s15.png);
    background-size: cover;
}
.f1{
    height:400px;
    width: 100%;
    background-image: url(f1.png);
    background-size: cover;
    margin-top: 10px;
}
.f2{
    height:400px;
    width: 100%;
    background-image: url(f2.png);
    background-size: cover;
    z-index: 3;
    margin-top: -8px;
}
.f3{
    height:400px;
    width: 100%;
    background-image: url(f3.png);
    background-size: cover;
    z-index: 3;
    margin-top: -8px;
}
.end{
    height:410px;
    width: 100%;
    background-image: url(footer.png);
    background-size: cover;
    z-index: 3;
    margin-top: -42px;
}
.extra{
    height: 1px;
    width: 100%;
    background-color:black;
}
div:hover{
    cursor: pointer;
}