* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow: hidden;
}
#cont1,#cont2{
    overflow-y: auto; 
    overflow-x: hidden; 
    height: 100vh; 
}
body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(45deg, 
        #f7878b, #f8b09d, #f79fa8, #fbb8a0, #f1f1a0, 
        #a7f4b8, #a5d1f2, #f88e92);
    background-size: 200% 200%;
    animation: backgroundAnimation 15s ease infinite;
    overflow-y: auto;
    transition: background 0.3s, color 0.3s;
    cursor: none; 
    margin: 0;
}

body.dark {
    background: linear-gradient(45deg, 
        #2c3e50, #436343, #7b6340, #41356e, #62315a, 
        #697b3d, #396b67, #743334);
    color: #ecf0f1;
    background-size: 200% 200%;
    animation: backgroundAnimation 15s ease infinite;
    overflow-y: auto;
    transition: background 0.3s, color 0.3s;
    cursor: none; 
    margin: 0;  
}
.custom-cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 255, 0.3); 
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5); 
    position: absolute; 
    pointer-events: none;
    transform: translate(-50%, -50%); 
    transition: height 0.2s ease, transform 0.1s ease;
}
body.dark .custom-cursor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(196, 243, 7, 0.892); 
    box-shadow: 0 0 10px 5px rgb(214, 255, 49); 
    position: absolute; 
    pointer-events: none;
    transform: translate(-50%, -50%); 
    transition: height 0.2s ease, transform 0.1s ease;
}
.hidden {
    display: none; 
}
@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#navigation {
    height: 50px;
    width: 90%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: fadeIn 1s forwards;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    transition: background 0.3s;
}

body.dark #navigation {
    background: rgba(0, 0, 0, 0.2);
}

a {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    color: #4C6763;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

body.dark a {
    color: #ecf0f1;
}

a:hover {
    color: #ff6347;
}

body.dark a:hover {
    color: #e74c3c;
}

.navi {
    height: 25px;
    width: 100px;
    border-radius: 1rem;
    font-size: 20px;
    padding-top: 4px;
    text-align: center;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

.navi:nth-child(1) {
    animation-delay: 0.2s;
}

.navi:nth-child(2) {
    animation-delay: 0.4s;
}

.navi:nth-child(3) {
    animation-delay: 0.6s;
}

.navi:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.name {
    font-size: 100px;
    color: #025A4E;
    text-align: center;
    margin-top: 100px;
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    opacity: 0;
    animation: slideUpFadeIn 1s forwards;
    animation-delay: 0.5s; 
}

body.dark .name {
    color: #8FDCC2;
}

@keyframes slideUpFadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.tag {
    text-align: center;
    color: #4C6763;
    margin-top: 60px;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    opacity: 0;
    animation: slideUpFadeIn 1s forwards;
    animation-delay: 0.5s; 
}

body.dark .tag {
    color: #ecf0f1;
}

#project1, #project2, #project3, #project4, #project5 {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

#project1:hover, #project2:hover, #project3:hover, #project4:hover, #project5:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#cont1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 160px;
}
#project1 {
    height: 510px;
    width: 520px;
    border-radius: 6rem;
    background-image: url('flipkart.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#text {
    font-size: 35px;
    color: black;
    font-family: "Merriweather", serif;
    font-weight: bolder;
    position: absolute;
    margin-right: 30px;
    top: 10px;
    right: 30px;
}


#project2 {
    height: 500px;
    width: 880px;
    border-radius: 6rem;
    background-image: url('ICI.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#text1 {
    font-size: 35px;
    color: black;
    font-family: "Merriweather", serif;
    font-weight: bolder;
    position: absolute;
    margin-right: 100px;
    top: 10px;
    right: 30px;
}

#cont2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:170px ;

}
#project3 {
    height: 520px;
    width: 900px;
    border-radius: 6rem;
    background-image: url('VCI.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#text2 {
    font-size: 35px;
    color: black;
    font-family: "Merriweather", serif;
    font-weight: bolder;
    position: absolute;
    top: 10px;
    right: 100px;
}
#project4 {
    height: 540px;
    width: 520px;
    background-image: url('rps.png');
    background-size: cover;
    border-radius: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 60px;
}

#text4 {
    font-size: 35px;
    color: black;
    font-family: "Merriweather", serif;
    font-weight: bolder;
    position: absolute;
    margin-top: 5px;
    margin-right: 10px;
    top: 10px;

}


#project5 {
    height: 520px;
    width: 900px;
    border-radius: 6rem;
    margin-top: 170px;
    margin-left: 30px;
    background-image: url('Amazon.png');
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
}
#text5 {
    font-size: 35px;
    color: black;
    font-family: "Merriweather", serif;
    font-weight: bolder;
    position: absolute;
    margin-right: 30px;
    top: 10px;
    right: 30px;
}

#toggleTheme {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    outline: none; 
}

#toggleTheme:hover {
    transform: scale(1.1); 

}
#toggleTheme .sun, #toggleTheme .moon {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: opacity 0.3s ease-in-out;
}

#toggleTheme .sun {
    background-image: url(sun1-removebg-preview.png);
    background-size: cover;
    background-size:cover;
    border-radius: 50%;
}

#toggleTheme .moon {
    background-image: url(moon1-removebg-preview.png);
    background-size: cover;
    margin-right: 20px;
    border-radius: 50%;
    opacity: 0;
}

body.dark #toggleTheme .sun {
    opacity: 0;
}

body.dark #toggleTheme .moon {
    opacity: 1;
}

#project1:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#project2:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#project3:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#project4:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#project5:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.parent {
    position: relative;
    height: 100vh;
    z-index: 1; 
}

#message1 {
    height: 680px;
    width: 500px;
    position: absolute;
    z-index: 50;
    overflow: hidden;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

#message1.show {
    display: block;
    opacity: 1;
}

#close {
    height: 30px;
    width: 30px;
    align-content: center;
    background-color: #025A4E;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#close:hover {
    background-color: #FFFFFF4C;
}

ul {
    position: relative;
    z-index: 2; 
}

li {
    list-style-type: none;
    margin: 10px 0;
}

a {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    color: #4C6763;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    position: relative;
    z-index: 3; 
}

a:hover {
    color: #ff6347;
}
#copyright {
    margin-left: 100px;
    margin-top: -500px;
    color: #4C6763;
    font-size: 20px;
    font-weight: bolder;
    z-index: 1;
    position: relative;
}

body.dark #copyright {
    color: #ecf0f1;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUpFadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
form input,form textarea{
    border: 3px solid #025A4E;
    width: 70%;
    margin-top: 20px;
    border-radius: 0.5rem;
    outline: none;
    padding:10px;
    font-size: 16px;
    background-color: #f5f5f5;
    font-family:"Playfair Display", serif ;
    color: #025A4E;
    resize: none;
}
form button{
    padding: 15px;
    background-color: #025A4E;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}
#border{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #025A4E;
    border-top-left-radius:1rem ;
    border-top-right-radius:1rem ;
}

body.dark #border{
    background-color: #8FDCC2;
}
#p_img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('img2.webp');
    background-size: cover;
    border: 2px solid white;
    margin-left: 10px;
}
#me_text{
    font-family:"Playfair Display", serif ;
    color: white;
    font-weight: bold;
    margin-left: 30px;
}
body.dark #me_text{
    color: black;
}
body.dark #close{
    background-color: #025A4E;
    color: black;
}
#close{
    height: 30px;
    width: 30px;
    align-content: center;
    background-color: #025A4E;
    margin-left: 220px;
    color:white;
    border-radius: 0.2rem;
}
#close:hover{
    background-color: #FFFFFF4C;
    cursor: pointer;
}
#copyright{
    margin-left: 100px;
    color: #4C6763;
    font-size: 20px;
    font-weight: bolder;
}
body.dark #copyright {
    color: #ecf0f1;
}
#else{
    margin-top: -25px;
    margin-left: 900px;
}
#else.li.a{
    font-weight: 15px;
    text-decoration: none;
    color: #4C6763;
    font-weight: bold;
}
li{
    list-style-type: none;
}
#contact{
    margin-left: 1200px;
    margin-top: -340px;
}
#contact.li.a{
    font-weight: 15px;
    text-decoration: none;
    color: #4C6763;
    font-weight: bold;
}
body.dark #else.li.a {
    color: #ecf0f1;
}
.foot{
    color: #025A4E;
    font-weight: bolder;
    font-size: 20px;
}
body.dark .foot {
    color: #8FDCC2;
}
::selection {
    background:#025A4E;
    color: white; 
}
::-webkit-selection {
    background:#025A4E;
    color: white; 
}
::-moz-selection {
    background:#025A4E;
    color: white; 
}
body.dark ::selection {
    background:#8FDCC2;
    color: white; 
}
body.dark ::-webkit-selection {
    background:#8FDCC2;
    color: white; 
}
body.dark ::-moz-selection {
    background:#8FDCC2;
    color: white; 
}
@media (max-width: 1200px) {
   
    .name {
        font-size: 60px;
    }

    .tag {
        font-size: 20px; 
    }
    #navigation {
        width: 90%;
        margin: 0 auto;
    }

    #cont1, #cont2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    #project1, #project2, #project3, #project4, #project5 {
        width: 90%;
        max-width: 100%;
        margin: 20px auto;
        border-radius: 1rem;
    }

    #text, #text1, #text2, #text4, #text5 {
        font-size: 24px;
        text-align: center;
    }


    #else, #contact {
        margin-left: 50px; 
        margin-top: 10px; 
    }
    #toggleTheme {
        display: block;
        margin-top: -30px;
    }

    #navigation {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
}

@media (max-width: 768px) {
   
    #navigation {
        width: 100%;
        padding: 10px;
        margin-top: 40px;
    }
    .navi {
        width: 100%;
        font-size: 18px;
        margin: 5px 0;
    }
    .name {
        font-size: 40px;
    }

    .tag {
        font-size: 18px; 
    }
    #cont1, #cont2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    #project1, #project2, #project3, #project4, #project5 {
        width: 90%;
        max-width: 100%;
        margin: 10px auto; 
        border-radius: 1rem;
    }

    #text, #text1, #text2, #text4, #text5 {
        font-size: 20px; 
        text-align: center; 
    }

    #else, #contact {
        margin-left: 50px; 
        margin-top: 20px; 
    }
    #message1 {
        margin-top: 100px;
        height: 680px;
        width: 80%;
    }

    #toggleTheme {
        display: block;
        margin-top: -30px; 
    }


    #toggleTheme {
        display: block;
        margin-top: -30px;
    }

    #navigation {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    #copyright{
        margin-left: 30px;
    }
    #else, #contact {
        margin-left: 50px; 
        margin-top: 10px; 
    }
}

@media (max-width: 480px) {
  

    #navigation {
        width: 90%;
        padding: 10px;
        margin-top: 40px;
    }
    .navi {
        width: 100%;
        font-size: 18px;
        margin: 5px 0;
    }
    .name {
        font-size: 30px; 
    }

    .tag {
        font-size: 16px; 
    }
    #cont1, #cont2 {
        display: flex;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 15px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    

    }

    #project1, #project2, #project3, #project4, #project5 {
        width: 95%;
        max-width: 100%;
        margin: 10px auto; 
        border-radius: 1rem;
        
    }
    #project2,#project4{
        width: 95%;
        max-width: 100%;
        margin: 10px auto; 
        border-radius: 1rem;
    }
    #text, #text1, #text2, #text4, #text5 {
        font-size: 18px; 
        text-align: center; 
    }
    #text2{
        margin-top: -10px;
    }
    #img, #img1, #img2, #img4, #img5 {
        width: 100%;
        height: auto;
        border-radius: 0.5rem; 
    }

    #else, #contact {
        margin-left: 50px; 
        margin-top: 20px; 
    }
    #message1 {
        margin-top: 100px;
        height: 680px;
        width: 80%;
    }

    #toggleTheme {
        display: block;
        margin-top: -30px; 
    }

    #navigation {
        width: 90%;
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        padding: 10px; 
    }
    #copyright{
        margin-left: 30px;
    }
    #else, #contact {
        margin-left: 50px; 
        margin-top: 10px; 
    }
}
